.header {
  background: linear-gradient(to right, #08261d, #114032);
  color: white;
  width: 100vw; /* Expand header to fit the window in the horizontal axis */
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  /* background-color: #00362e; */
  font-size: 0.9rem;
  width: 1200px; /* Fixed width instead of expanding */
  margin: 0 auto; /* Center the header-top */
}

.top-right-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 25px; /* Adjust vertical spacing between components */
}


.contact-info span {
  margin-right: 15px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
  margin-left: 108px;
}

.auth-buttons button {
  background-color: #004d40;
  color: white;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.header-main {
  display: block; /*Change to block to prevent flex behavior*/
  padding: 0px 10px;
  width: 100%; /* Change to full width */
  margin: 0; /* Remove margin to fit full width */
  text-align: center; /* Align content in the center */
  position: relative; /* Allow for absolute positioning of child elements if needed */
  background-color: white; /* Added background color as white */
  
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 10px 0; /* Added vertical padding */
  justify-content: center; 
}

.menu li {
  display: inline;
}



.homepage button img {
  width: 18px; /* Increase the width of the icon */
  height: 18px; /* Increase the height of the icon */
  position: relative; /* Move the position higher */
  top: 1px; /* Adjust the vertical position to move it higher */
}

.menu button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Added transition for color */
  font-weight: bold; /* Make the text bold */
}

.menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: green; /* Change text color to green on hover */
}
